*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
}
@media (max-width: 426px) {
  .dashboard-card {
    margin-bottom: 15px;
  }
}
