@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

body {
  background: #fff;
  color: #333;
  line-height: 1.6;
}

:root {
  --pink: #ec4899;
  --pink-light: #fde7f3;
  --blue-light: #eaf6ff;
  --gray: #6b7280;
}

/* Typography */
h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 20px; }

/* Buttons */
button {
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  transform: translateY(-2px);
}

/* Inputs */
input, textarea, select {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 6px;
  width: 100%;
}


.card {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.06);
  transition: .3s;
}
.card:hover {
  transform: translateY(-6px);
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px);}
  to { opacity: 1; transform: translateY(0);}
}


@media(max-width:426px){
  h1{font-size:26px;}
  section{padding:40px 15px;}
}


@media(max-width:768px){
  h1{font-size:30px;}
}
